# git mailmap (see gitmailmap(5))
# format: New Name <new@email> Old Name <old@email>

Arsen Arsenović <arsen@managarm.org> <arsenarsentmc@outlook.com>
Arsen Arsenović <arsen@managarm.org> <arsen@aarsen.me>
