html, body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	color: #333;
	background-color: #fefefe;
	min-height: 100vh;
}

.container {
	line-height: 1.4;
	display: flex;
	flex-grow: 2;
	flex-direction: column;
}

#col1 {
	border-bottom: 1px solid #111;
	margin: 2.5px;
	padding: 2.5px;
}

#col2 {
	flex-grow: 2;
	flex-shrink: 2;
}

pre {
	white-space: pre-wrap;
	word-wrap: normal;
}

[id^="col"] {
	margin: 0 0;
	padding: 0 0;
}

@media only screen and ((min-width: 768px) or (orientation: landscape)) {
	.container {
		flex-direction: row;
	}

	#col1 {
		max-width: 20%;
		border-bottom: 0;
		border-right: 1px solid #111;
		flex-grow: 1;
	}
}

.success {
	color: #007f00;
}

.failed {
	color: #8b0000;
	font-weight: bold;
}

footer, header {
	vertical-align: middle;
	background-color: #111;
	padding: 1em 0.5em;
	color: #ddd;
}

header {
	font-family: monospace;
}

footer {
	text-align: center;
	font-size: small;
}

a {
	text-decoration: none;
	color: #5080dd;
}

a:visited {
	color: #9d3692;
}

iframe.seamless {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0px none transparent;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.status-short {
	width: 10ch;
	display: inline-block;
}

.artifact-kind {
	width: 4em;
}

.fullwidth {
	width: 100%;
}

.color-rows > tbody > tr:nth-child(odd) {
	background: #eee;
}

.onethree-cols > tbody > tr > td:nth-child(1) {
	width: 25%;
}
