{# SPDX-License-Identifier: AGPL-3.0-only #}
{%- extends "base.html" %}
{%- import "macros.html" as macros %}
{%- macro kind_status(product) %}
{%- if not product.received %}
<code class="running artifact-kind">
{%- elif product.failed %}
<code class="failed artifact-kind">
{%- else %}
<code class="success artifact-kind">
{%- endif %}
	{{ product.kind|capitalize }}
</code>
{%- endmacro %}
{%- macro display_set(set) %}
{%- for name, job in set.items() %}
	<tr>
		<td style="vertical-align: top;">
{%- for product in job.products %}
			<a id="prod-{{ product.kind }}-{{ product.name }}"></a>
{%- endfor %}
			<code>{{ name }}</code>
			<div class="{{ job.status.kind }}">{{ job.status.pretty }}</div>
{%- if "exit_code" is in(job) %}
			Exit code: {{ job.exit_code }}<br>
{%- else %}
			<em>Job never exited.<br></em>
{%- endif %}
{%- if "run_time" is in(job) %}
			Ran for {{ job.run_time|humanizedelta }}.<br>
{%- endif %}
{%- if "log" is in(job) %}
			<a href="{{ job.log }}">[logs]</a><br>
{%- else %}
			<em>No log available.<br></em>
{%- endif %}
		</td>
		<td>
			Products:<br><table>
{%- for product in job.products %}
			<tr>
				<td>{{ kind_status(product) }}</td>
				<td>
					{{ product.name }}
{%- if product.version %}
					{{ product.version }}
{%- endif %}
				</td>
			</tr>
{%- else %}
			<tr><em>This job produces nothing</em></tr>
{%- endfor %}
			</table>
			Dependencies:<br><table>
{%- for product in job.deps %}
			<tr>
				<td>{{ kind_status(product) }}</td>
				<td>
					<a href="#prod-{{ product.kind }}-{{ product.name }}">
						<code>{{ product.name }}</code>
					</a>
				</td>
			</tr>
{%- else %}
			<tr>
				<td class="artifact-kind"></td>
				<td><em>This job depends on nothing</em></td>
			</tr>
{%- endfor %}
			</table>
		</td>
	</tr>
{%- endfor %}
{%- endmacro %}


{%- block title %}Job view for {{ project }}{%- endblock %}
{%- block col1 %}
<h3>Job view</h3>
	<strong>for {{ project }}</strong>
	<br>{{ ts|humanizeiso }}<br>
	{{ macros.build_status(build) }}
	<a href="{{ url_for("show_log_list", proj=project, ts=ts) }}">
		[all logs]
	</a>
{%- endblock %}
{%- block col2 %}
	<table class="color-rows fullwidth onethree-cols">
{%- for k, v in grouped_jobs.items() if v %}
		<tr><th colspan="2">{{ k.pretty }}</th></tr>
		{{ display_set(v) }}
{%- endfor %}
	</table>
{%- endblock %}
{# vim: ft=htmldjango :
#}
