{# SPDX-License-Identifier: AGPL-3.0-only #}
{%- macro build_status_short(build) %}
{%- if build.success %}
	<code class="success status-short">SUCCESS</code>
{%- elif build.running %}
	<code class="running status-short">RUNNING</code>
{%- elif not build.finished %}
	<code class="running status-short">INCOMPLETE</code>
{%- else %}
	<code class="failed status-short">FAILED</code>
{%- endif %}
{%- endmacro %}

{%- macro build_status(build) %}
{%- if build.success %}
	<div class="success">Build successful
	in {{ build.run_time|humanizedelta }}
{%- if build.failures %}
	({{ build.failures }} jobs failed)
{%- endif %}
	</div>
{%- elif build.running %}
	<div class="running">Build running...</div>
{%- elif not build.finished %}
	<div class="running">Build never finished... (crash?)</div>
{%- else %}
	<div class="failed">Build failed
	in {{ build.run_time|humanizedelta }}</div>
	{%- if build.exit_code == -1%}Builder never ran
	{%- elif build.exit_code %}Exit code: {{ build.exit_code }}{% endif %}
{%- endif %}
{%- endmacro %}
{# vim: ft=htmldjango :
#}
