{# SPDX-License-Identifier: AGPL-3.0-only #}
{%- extends "base.html" %}
{%- import "macros.html" as macros %}
{%- block title %}Overview{%- endblock %}
{%- block col1 %}
	<h3>Project list</h3>
	<table id="project-list" class="color-rows">
{%- for name, item in projects.items() %}
		<tr class="project-item {{ item.classes|join(' ') }}">
			<td class="project-name">
				{{ name }}<br>
				<a href="{{ url_for("package_list", proj=name) }}">
					[pkgs]
				</a>
			</td>
			<td class="project-desc">
				{{ item.description }}
			</td>
		</tr>
{%- endfor %}
	</table>
{%- endblock %}
{%- block col2 %}
	<h3>Recent build history</h3>
	<ul id="history">
{%- for build in history %}
	<li class="build-item {{ build.classes|join(' ') }}">
		<strong>{{ build.project }},
		started {{ build.timestamp|humanizeiso }}</strong>
{%- if build.jobs %}
		<a href="{{ build.jobs }}">[jobs]</a>
{%- endif %}
{%- if build.log %}
		<a href="{{ build.log }}">[logs]</a>
{%- endif %}
{%- if build.pkgrepo %}
		<a href="{{ build.pkgrepo }}">[pkgs]</a>
{%- endif %}
		<br>
		{{ macros.build_status(build) }}
	</li>
{%- endfor %}
	</ul>
{%- endblock %}
{# vim: ft=htmldjango :
#}
