{# SPDX-License-Identifier: AGPL-3.0-only #}
{%- extends "base.html" %}
{%- import "macros.html" as macros %}
{%- macro string_optional(pkg, x) %}
{%- if pkg[x] %}
<strong>{{ x|capitalize|replace("_", " ")|replace("-", " ")}}:</strong>
{{ pkg[x] }}<br>
{%- endif %}
{%- endmacro %}
{%- macro array_optional(pkg, x) %}
{%- if pkg[x] %}
<strong>{{ x|capitalize|replace("_", " ")|replace("-", " ")}}:</strong>
{{ pkg[x]|join(", ") }}<br>
{%- endif %}
{%- endmacro %}
{%- block title %}{{ project }} packages{%- endblock %}
{%- block col1 %}
<h3>{{ project }} packages</h3>
{%- if ts != "rolling" %}
{{ ts|humanizeiso }}
{{ macros.build_status(build_info) }}
{%- else %}
Rolling repository
{%- endif %}
{%- endblock %}
{%- block col2 %}
	<table class="color-rows fullwidth onethree-cols">
{%- for name, pkg in repodata.items() %}
	<tr>
		<td style="vertical-align: top;">
			<code>{{ pkg.pkgver }}</code><br>
			<a href="{{ url_for("dl_package",
						proj=project,
						ts=ts,
						filename=pkg.pkgver + "."
							+ pkg.architecture
							+ ".xbps") }}">
				[download]
			</a>
		</td>
		<td>
			<strong>Description:</strong> {{ pkg.short_desc }}<br>
			<strong>Install size:</strong>
				{{ pkg.installed_size|humanizesize }}<br>
{%- if pkg.homepage %}
			<a href="{{ pkg.homepage }}">Homepage</a><br>
{%- endif %}
			{{ string_optional(pkg, "license") }}
			{{ string_optional(pkg, "long_description") }}
			{{ string_optional(pkg, "packaged-with") }}
			{{ string_optional(pkg, "source-revision") }}
			{{ string_optional(pkg, "tags") }}
{%- if pkg.preserve %}
			<strong>Files are preserved on update. </strong><br>
{%- endif %}
			{{ string_optional(pkg, "build-options") }}
{%- if pkg.run_depends %}
			<strong>Dependencies:</strong>
			{{ pkg.run_depends|join(", ") }}<br>
{%- endif %}
			{{ array_optional(pkg, "conflicts") }}
			{{ array_optional(pkg, "provides") }}
			{{ array_optional(pkg, "replaces") }}
			{{ array_optional(pkg, "reverts") }}
			{{ array_optional(pkg, "alternatives") }}
{%- if pkg["shlib-provides"] %}
			<strong>Provided shlibs:</strong>
			{{ pkg["shlib-provides"]|join(", ") }}<br>
{%- endif %}
{%- if pkg["shlib-requires"] %}
			<strong>Required shlibs:</strong>
			{{ pkg["shlib-requires"]|join(", ") }}<br>
{%- endif %}
{%- if diff_repodata %}
{%- if name in diff_repodata %}
{#- in distrepo #}
{%- set distpkg = diff_repodata[name] %}
{%- set disthash = distpkg["filename-sha256"] %}
{%- set distver = xbps_parse(distpkg.pkgver) %}
{%- set pkghash = pkg["filename-sha256"] %}
{%- set pkgver = xbps_parse(pkg.pkgver) %}
<strong>Distribution version:</strong> {{ distpkg.pkgver }}<br>
{%- if distver < pkgver -%}
{# older version #}
<div class="success">
	Newer than distribution repository: {{ distpkg.pkgver }}.<br>
</div>
{%- elif distver == pkgver and disthash != pkghash %}
{# in distrepo, not reproduced #}
<div class="failed">
	Hash mismatch.<br>
	Distribution: <code>{{ disthash }}</code>,<br>
	Current build: <code>{{ pkghash }}</code>.<br>
</div>
{%- elif ts == "rolling" and distver > pkgver %}
<div class="failed">
	Package older than distribution repository.
</div>
{%- endif -%}

{%- else -%}
<div class="failed">
	Package not in distribution repository.
</div>
{%- endif -%}
{%- endif -%}
		</td>
	</tr>
{%- endfor %}
	</table>
{%- endblock %}
{# vim: ft=htmldjango :
#}
