{# SPDX-License-Identifier: AGPL-3.0-only #}
{%- extends "base.html" %}
{%- macro string_optional(pkg, x) %}
{%- if pkg[x] %}
<strong>{{ x|capitalize|replace("_", " ")|replace("-", " ")}}:</strong>
{{ pkg[x] }}<br>
{%- endif %}
{%- endmacro %}
{%- macro array_optional(pkg, x) %}
{%- if pkg[x] %}
<strong>{{ x|capitalize|replace("_", " ")|replace("-", " ")}}:</strong>
{{ pkg[x]|join(", ") }}<br>
{%- endif %}
{%- endmacro %}
{%- block title %}{{ project }} packages{%- endblock %}
{%- block col1 %}
<h3>{{ project }} packages</h3>
{%- if is_old %}
<strong>Showing old repository, new one is not done.</strong><br>
{%- endif %}
{%- if is_running %}
<strong>The project is currently being built</strong><br>
{%- endif %}
{%- endblock %}
{%- block col2 %}
	<table class="color-rows fullwidth onethree-cols">
{%- for name, pkg in repodata.items() %}
	<tr>
		<td style="vertical-align: top;">
			<code>{{ pkg.pkgver }}</code><br>
			<a href="{{ url_for("dl_package",
						proj=project,
						filename=pkg.pkgver + "."
							+ pkg.architecture
							+ ".xbps") }}">
				[download]
			</a>
		</td>
		<td>
			<strong>Description:</strong> {{ pkg.short_desc }}<br>
			<strong>Install size:</strong>
				{{ pkg.installed_size|humanizesize }}<br>
{%- if pkg.homepage %}
			<a href="{{ pkg.homepage }}">Homepage</a><br>
{%- endif %}
			{{ string_optional(pkg, "license") }}
			{{ string_optional(pkg, "long_description") }}
			{{ string_optional(pkg, "packaged-with") }}
			{{ string_optional(pkg, "source-revision") }}
			{{ string_optional(pkg, "tags") }}
{%- if pkg.preserve %}
			<strong>Files are preserved on update. </strong><br>
{%- endif %}
			{{ string_optional(pkg, "build-options") }}
{%- if pkg.run_depends %}
			<strong>Dependencies:</strong>
			{{ pkg.run_depends|join(", ") }}<br>
{%- endif %}
			{{ array_optional(pkg, "conflicts") }}
			{{ array_optional(pkg, "provides") }}
			{{ array_optional(pkg, "replaces") }}
			{{ array_optional(pkg, "reverts") }}
			{{ array_optional(pkg, "alternatives") }}
{%- if pkg["shlib-provides"] %}
			<strong>Provided shlibs:</strong>
			{{ pkg["shlib-provides"]|join(", ") }}<br>
{%- endif %}
{%- if pkg["shlib-requires"] %}
			<strong>Required shlibs:</strong>
			{{ pkg["shlib-requires"]|join(", ") }}<br>
{%- endif %}
		</td>
	</tr>
{%- endfor %}
	</table>
{%- endblock %}
{# vim: ft=htmldjango :
#}
